apiVersion: apps/v1
kind: Deployment
metadata:
  name: dotnet-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dotnet-api
  template:
    metadata:
      labels:
        app: dotnet-api
    spec:
      containers:
        - name: dotnet-api
          image: dotnet-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: ASPNETCORE_URLS
              value: "http://+:8080"

---
apiVersion: v1
kind: Service
metadata:
  name: dotnet-api
spec:
  type: ClusterIP
  selector:
    app: dotnet-api
  ports:
    - port: 80
      targetPort: 8080
